{% extends 'base_generic_admin.html' %}
{% block content %}
<!-------------CONTENDER DEL Administrador-------------->
{% block title %}
<title>Admin | Registro de Examen</title>
{% endblock %}

<div class=" card" id="cardRegistro" style="width:600px !important;">
  <div class="card-header">
    <h1 class="text-center">Registro de Examen</h1>
  </div>
  <div id="">
    <div id="registro">
      <form method="POST" id="form" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <p>{{form.nombre_Examen.label}}</p>
            <input type="text" id="nombre_Examen" style="width:500px" >
            <p>{{form.preguntas.label}}</p>
            <div class="text-center">
              <select id="permisos">
                <option value="1">Permiso A</option>
                <option value="2">Permiso B</option>
                <option value="3">Permiso C</option>
                <option value="4">Permiso D</option>
              </select>
              <button type="button" class="btn btn-primary" id="btnGenerar">Generar Preguntas</button>
            </div>
            <div style="overflow-y: scroll; height: 400px;">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Pregunta</th>
                  </tr>
                </thead>
                <tbody id="preguntasSeleccionadas" >
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <input type="button" class="btn btn-primary" href="{% url 'listar_examenes' %}" value="Registrar"
            id="btnRegistrar"></input>

          <a type="button" class="btn btn-danger" id="btnCancelar" value="Cancelar"
            href="{% url 'listar_examenes' %}">Cacelar</a>
        </div>

      </form>
    </div>

  </div>
</div>
{% block script %}
{% load static %}
<script src="{% static 'js/create_examen_automatic.js' %}" type="module"></script>

{% endblock %}
{% endblock %}