<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    
{% block footer%}
<!-- Footer -->
<footer class=" footer page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Información de la autoescuela -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Información</h5>
  
          <p style="text-align: justify;" >  En Autoescuela Lupita, puedes elegir el tiempo para poder adaptarnos perfectamente a tu horario. 
            Nuestros profesores hacen que nuestro programa sea perfecto para convertirte en el conductor ideal y te permitirá progresar a tu ritmo. 
            ¡No puedes equivocarte con Autoescuela Lupita!</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <!--div class="col-md-3 mx-auto">
  
          <-- Lista de permisos de conducir 
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Permisos</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" ><p>Permiso A<p></a>
            </li>
            <li>
              <a href="#!"><p>Permiso B<p></a>
            </li>
            <li>
              <a href="#!"><p>Permiso C<p></a>
            </li>
            <li>
              <a href="#!"><p>Permiso D<p></a>
            </li>
          </ul>
  
        </div>
        < Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto" style="text-align:justify;">
  
          <!-- Contacto -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="{% url 'index' %}"><p>Autoescuela Lupita</p></a>
            </li>
            <li>
              <a href="{% url 'perfil_aula' %}"><p>Aula virtual</p></a>
            </li>
            <li>
              <a href="{% url 'info_autoescuela' %}"><p>Nosotros</p></a>
            </li>
            <li>
              <a href="{% url 'permisos' %}"><p>Permisos</p></a>
            </li>
          </ul>
  
        </div>
        
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <a>
        <img src="/media/imagenes_autoescuela/licencia.png" width="80px" height="30px" class="d-inline-block align-top" alt="">
      </a> 
      2022 Copyright:
      <a href="/"> autolupita.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  {% endblock %}
</body>
</html>
