{% extends 'base_generic_admin.html' %}
{% block content %}
{% block title %}
<title>Admin | Listado de Usuarios</title>
{% endblock %}
<!-------------CONTENDER DEL Administrador-------------->
{% if object_list %}
<div class=" card" id="tablaUsuario">
    <div class="card-header">
        <div class="text-center">
            <h1 class="text-center">Listado de Usuarios</h1>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary"><a href="{% url 'registar_usuario' %}">Crear Usuario</a></button>
            </div>
            <div class="col">
                <form class="d-flex" method="get" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" name="buscar"
                        aria-label="Buscar pregunta" value="{{request.GET.buscar}}">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive-md ">
        <table class="table table-striped"">
            <thead class=" table-dark">
            <tr>
                <th>Nombre completo</th>
                <th>Grupo</th>
                <th>DNI</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Permiso</th>
                <th>Fecha nacimiento</th>
                <th>Fecha matriculación</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody class="table table-striped">
                {% for usuario in object_list %}
                <tr>
                    <td>{{usuario.apellidos}}, {{usuario.nombre}}</td>
                    <td>{{usuario.groups}}</td>
                    <td>{{usuario.dni}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.telefono}}</td>
                    <td>{{usuario.permiso.tipo_licencia}}</td>
                    <td>{{usuario.fecha_nacimiento}}</td>
                    <td>{{usuario.fecha_matriculacion}}</td>
                    <td><img src="/media/{{usuario.imagen_usuario}}" alt="Foto de perfil" width="100" height="100">
                    </td>
                    <td>
                        <div class="row">
                            <button class="btn btn-primary"><a
                                    href="{% url 'modificar_usuarios' usuario.dni %}">Editar</a></button>
                        </div>
                        <div class="row">
                            <button class="btn btn-danger"><a
                                    href="{% url 'eliminar_usuarios' usuario.dni %}">Eliminar</a></button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="text-center">
                    <td COLSPAN="5">
                        <div>
                            {% if object_list.paginator.num_pages > 4 %}
                            <p>Pagina {{object_list.number}} de {{object_list.paginator.num_pages}}</p>
                            {% if object_list.has_previous %}
                            <a class="btn btn-primary"
                                href="?page={{object_list.previous_page_number}}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}">Anterior</a>
                            {% endif %}
                            {% if object_list.has_next %}
                            <a class="btn btn-primary"
                                href="?page={{object_list.next_page_number}}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}">Siguiente</a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% else %}
<p>NO existen ususarios</p>
<button class="btn btn-primary"><a href="{% url 'index' %}">Incio</a></button>
{% endif %}
{% endblock %}